<app-home-nav></app-home-nav>

<div class="login position-relative " *ngIf="!userFound">
    <form #form="ngForm" class="col-10  mx-auto mt-5" (ngSubmit)="onSubmitReset()">
        <div class="col-lg-8 mx-auto ">
            <div class="card mt-3 bg-transparent">
                <h5 class="card-header text-center">Réinitialiser le Mot de passe</h5>
                <span *ngIf="loginError!=''" class="error">{{ loginError }}</span>
                <div class="card-body bg-transparent">
                    <div class="form-group form-row">
                        <label for="email" class="col-md-4 col-form-label">Veuillez renseigner votre email</label>
                        <div class="col-md-12">
                            <input type="email"
                                    name="username"
                                    id="email"
                                    [(ngModel)]="loginEmailPwdCode.email"
                                    class="form-control"
                                    placeholder="email"
                                    autofocus="autofocus">
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mt-1"
                        type="submit"
                        >
                        Envoyer
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </form>

    <div class="reset">
        <p routerLink="/register"
            class="text-center d-block mt-5 ">
            Si un compte existe avec votre email un lien vous sera envoyé pour réinitialiser le mot de passe (Si vous ne trouvez pas le mail regardez dans les spams).
        </p>
    </div>
    <div class="register">
        <a routerLink="/register"
            class="text-center d-block mt-5 ">
            Vous n'avez pas de compte ? Enregistrez-vous.
        </a>
    </div>
</div>

<div class="login position-relative " *ngIf="userFound && !verifyCode">
    <form #form="ngForm" class="col-10  mx-auto mt-5" (ngSubmit)="onSubmitCode()">
        <div class="col-lg-8 mx-auto ">
            <div class="card mt-3 bg-transparent">
                <h5 class="card-header text-center">Réinitialiser le Mot de passe</h5>
                <span *ngIf="loginError!=''" class="error">{{ loginError }}</span>
                <span *ngIf="loginInfo!=''" class="info">{{ loginInfo }}</span>
                <div class="card-body bg-transparent">
                    <div class="form-group form-row">
                        <label for="code" class="col-md-4 col-form-label">Code reçu par mail</label>
                        <div class="col-md-12">
                            <input type="text" minlength="6" maxlength="6" pattern="\d{6}"
                                    name="secret-code"
                                    id="secret-code"
                                    [(ngModel)]="loginEmailPwdCode.code"
                                    class="form-control"
                                    placeholder="12345" 
                                    autofocus="autofocus" required>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="text-center">
                            <button class="btn btn-primary mt-1"
                            type="submit">
                                Envoyer
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</div>

<div class="login position-relative " *ngIf="userFound && verifyCode">
    <form #form="ngForm" class="col-10  mx-auto mt-5" (ngSubmit)="onSubmitNewPassword()">
        <div class="col-lg-8 mx-auto ">
            <div class="card mt-3 bg-transparent">
                <h5 class="card-header text-center">Réinitialiser le Mot de passe</h5>
                <span *ngIf="loginError!=''" class="error">{{ loginError }}</span>
                <span *ngIf="loginInfo!=''" class="info">{{ loginInfo }}</span>
                <div class="card-body bg-transparent">
                    <div class="form-group form-row">
                        <label for="password" class="col-md-4 col-form-label">Nouveau mot de passe</label>
                        <div class="col-md-12">
                            <input type="password"
                                    name="password"
                                    id="password"
                                    [(ngModel)]="loginEmailPwdCode.password"
                                    class="form-control"
                                    placeholder="Nouveau mot de passe" required>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label for="verify" class="col-md-4 col-form-label">Vérifier nouveau mot de passe</label>
                        <div class="col-md-12">
                            <input type="password"
                                    name="verify"
                                    id="verify"
                                    [(ngModel)]="passwordVerify"
                                    class="form-control"
                                    placeholder="Vérifier nouveau mot de passe" required>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="text-center">
                            <button class="btn btn-primary mt-1"
                            type="submit">
                                Envoyer
                            </button>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </form>

    <div class="reset">
        <p routerLink="/register"
            class="text-center d-block mt-5 ">
            Si un compte existe avec votre email un lien vous sera envoyé pour réinitialiser le mot de passe (Si vous ne trouvez pas le mail regardez dans les spams).
        </p>
    </div>
    <div class="register">
        <a routerLink="/register"
            class="text-center d-block mt-5 ">
            Vous n'avez pas de compte ? Enregistrez-vous.
        </a>
    </div>
</div>

<app-footer></app-footer>