.aside{
    min-height: 90vh;
    background-color: rgba(192, 184, 184, 0.575);

    .gradient{
        background: rgb(217,171,224);
        background: linear-gradient(225deg, rgba(217,171,224,1) 0%, rgba(185,134,241,1) 50%, rgba(166,112,251,1) 100%);
        width: 150px;
        height: 100px;
    
        border-radius: 10px;
        color: white
    
    }
}

.display{
    background-color: rgba(218, 182, 135, 0.404);
    border: red 1px solid;
    .frame{  // live changes displaying
        border: rgb(89, 0, 255) 1px solid;
        height: 50% ;
        margin: 5rem auto;

    }
}


