<app-home-nav></app-home-nav>
<main class="d-flex">
  <app-left-sidebar class="left-sidebar col-1 bg-dark"
      [portfolio]="portfolio"
      >
  </app-left-sidebar>

  <div class="portfolio-list-item flex-grow-1">
    <div class="main d-flex">
      <div class="aside col-3">
        <div class="rapp-skillow">
          <div class="col mx-auto">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title title d-flex justify-content-between ">
                  {{portfolio.title | uppercase }}
                  <a [href]="'/item/'+ portfolio.id" class="btn btn-outline-success login ms-1" >
                    Voir online
                  </a>
                </h5>
                <p class="card-text">{{portfolio.name | titlecase }}</p>
                <!-- <p class="card-text">{{portfolio.city | titlecase }}</p> -->
                <small>{{portfolio.id}}</small>  
              </div>
            </div>
          </div>
        </div>
        
        <div class="accordion bg-transparent" id="accordionExample">
        
          <div class="accordion-item bg-transparent">
            <h2 class="accordion-header bg-transparent">
              <button class="accordion-button bg-transparent" type="button" data-bs-toggle="collapse" 
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                  (click)="onProjectButton()" >
                Projets
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse bg-transparent" data-bs-parent="#accordionExample">
              <div class="accordion-body projects bg-transparent">       
                <app-project [projects]="portfolio.projects" 
                      [portfolioId]="portfolio.id" 
                      (projectsChanged)="handleProjectsChanged($event)">
                </app-project>        
              </div>
            </div>
          </div>
        
          <div class="accordion-item bg-transparent">
            <h2 class="accordion-header bg-transparent">
              <button class="accordion-button collapsed bg-transparent" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" 
                    aria-controls="collapseTwo"
                    (click)="onSkillButton()" >
                Compétences
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse bg-transparent" data-bs-parent="#accordionExample">
              <div class="accordion-body skills bg-transparent">   
                <app-skill [skills]="portfolio.skills" 
                      [portfolioId]="portfolio.id"
                      (skillsChanged)="handleSkillsChanged($event)">
                </app-skill>
              </div>
            </div>
          </div>
          
          <div class="accordion-item bg-transparent">
            <h2 class="accordion-header bg-transparent">
              <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" 
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                  (click)="onEducationButton()">
                Etudes et formations
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse bg-transparent" data-bs-parent="#accordionExample">
              <div class="accordion-body educations bg-transparent">
                <app-education [educations]="portfolio.educations" 
                          [portfolioId]="portfolio.id"
                          (educationsChanged)="handleEducationsChanged($event)">
                </app-education>       
              </div>
            </div>
          </div>
        
          <div class="accordion-item bg-transparent">
            <h2 class="accordion-header bg-transparent">
              <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" 
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree"
                  (click)="onExperienceButton()" >
                Expérience professionnelle
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse bg-transparent" data-bs-parent="#accordionExample">
              <div class="accordion-body experiences bg-transparent">
                <app-experience [experiences]="portfolio.experiences" 
                          [portfolioId]="portfolio.id"
                          (experiencesChanged)="handleExperiencesChanged($event)" >
                </app-experience>      
              </div>
            </div>
          </div>
        
        </div>

        <div class="gradient">Essayez gratuitement !! </div>

      </div>
      <div class="display flex-grow-1">  

        <section class="frame col-8 mx-auto board">
          <article *ngIf="isShowingHome"> <!-- Board Home -->
            <app-board-home [portfolio]="portfolio" [portfolioId]="portfolio.id"></app-board-home>
          </article>
          <article *ngIf="isShowingProjects">
            <h1>Projects</h1>
            <app-board-project [projects]="portfolio.projects" [portfolioId]="portfolio.id"></app-board-project>
          </article>
          <article *ngIf="isShowingSkills">
            <h1>Competences</h1>
            <app-board-skill [skills]="portfolio.skills" [portfolioId]="portfolio.id"></app-board-skill>
          </article>
          <article *ngIf="isShowingEducs">
            <h1>Formations</h1>
            <app-board-education [educations]="portfolio.educations" [portfolioId]="portfolio.id"></app-board-education>
          </article>
          <article *ngIf="isShowingExpers">
            <h1>Expériences professionnelles</h1>
            <app-board-experience [experiences]="portfolio.experiences" [portfolioId]="portfolio.id"></app-board-experience>
          </article>
        
        </section>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>



