.item{
    border-bottom: solid 1px grey;
}

button.document, .social_link{
    background-color: transparent;
    color: grey;
    font-size: .8rem;
    border: none;

}

a.portfolios{
    text-decoration: none;
    color:grey;
    font-size: .8rem;
    text-align: center;
    transition: .2s ease-in-out;
}

a:hover, button.document:hover, .social_link:hover{
    color: pink;
    transform: scale(1.1);
}

.gradient.title{
    color: black;
}

:host ::ng-deep .ck-editor__editable_inline {  // ckeditor
    min-height: 15rem;
}

#offcanvas {
    width: 85%; // offcanvas
}

.gradient.title{
    fa-icon{
        color: rgba(0, 0, 0, 0.76);
    }
}

.socials{
    form{
        display: flex;
        .social_link_input{
            width: 100%;
        }
        .btn{
            width: 5.5rem;
            font-size: .7rem;
            background-color: rgba(0, 0, 255, 0.444);
            color: white;
            border: none;
        }
        .btn:hover{ background-color: rgba(0, 0, 255, 0.827);}

        .btn.green{
            background-color: rgba(0, 128, 0, 0.611);
        }
        .btn.green:hover{ background-color: rgba(0, 128, 0, 0.827);}


    }
}

@media screen and (min-width: 750px) {
    
    #offcanvas {
        width: 65%; // offcanvas
    }
}


@media screen and (min-width: 1100px) {
    
    #offcanvas {
        width: 45%; // offcanvas
    }
}

@media screen and (min-width: 1400px) {
    
    #offcanvas {
        width: 35%; // offcanvas
    }
}

@media screen and (min-width: 1700px) {
    
    #offcanvas {
        width: 25%; // offcanvas
    }
}
