
.topmenu {
  // position: ;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(10, 25, 47, 0.89);
  padding: .5em .5em;
  .topmenu_layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0.5em .3em;
    border-bottom: solid 1px #52caae;
  }
  #logo_container a {
     display: inline-block;
     border: #52caae solid 1px;
     padding: 1px;
     text-decoration: none;
     padding: 0px 2px;
     font-size: 1em;
     font-weight: 400;
     font-family: 'Times New Roman', Times, serif;
     color: #52caae;
     .letter1 {
           font-size: 1.9em;
           background-color: #52caae;
      }   
  }
  .svg_burger {
    position: relative;
    width: 35px;
  }
      
  .svg_burger img {
   width: 100%;
 }
 
  .svg_burger:hover {
   cursor: pointer;
 }
 
 .burger {
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 25, 47, 0.557);
  padding: 3em auto 4em;
  width: 100%;
 }
 .burger a {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 1em 2em;
  color: #52caae;
  font-size: .8em;
  font-weight: bold;
}

.burger a:hover {
  color: #4646c6;
  background-color: rgba(213, 213, 243, 0.555);
}

}

.content_example.page3 {
    flex-direction: column;
  }

  .content_example.page3 {
    width: 100%;
    background-color: rgba(3, 1, 19, 0.918);
    padding: 0 0 1rem 0;
    min-height: 45vh;
    color: white;
}
  
  .skills-presentation {
    width: 90%;
    margin: 0 auto;
    h1 {
        color: #52caae;
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: 0px;
    }
    p{
      font-size: .8rem;
    }

}
#langages_pro span {
   color: #52caae;
}
p em {
  color: #52CAAE;
}

  .skills-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
  }





.competences ul {
    padding: 0 0 0 1em;
    li {
      font-size: .9em;
      strong {
        font-size: 1.1em;
        color: #52caaea5;
      }
    }
  }
  
  .skills-box .competences-pro, .skills-box .competences-perso, .skills-box .competences-languages {
    margin: 0 0 2em;
  }
  
  .skills-box .competences-pro h3, .skills-box .competences-perso h3, .skills-box .competences-languages h3 {
    margin: 0 0 .7em;
  }
  
  .skills-box .competences-pro #langages_pro, .skills-box .competences-perso #langages_pro, .skills-box .competences-languages #langages_pro {
    color: #52caae;
    margin: 1em 0 0;
  }