.title{
    position: relative;
    .gradient{  // *** test replacing forms ****
        position: absolute;
        right: -270px;
        box-shadow: 8px 7px 19px #0000006b;
        top: -300px;
        background: rgba(217, 171, 224, 0.849);
        background: linear-gradient(225deg, rgba(217, 171, 224, 0.877) 0%, rgba(186, 134, 241, 0.842) 50%, rgba(166,112,251,1) 100%);
        width: 250px;
        border-radius: 5px;
        .form-item{
            .form-legend{
                font-size: 1.2rem;
                color: black;
            }
            .form-label{
                font-size: .9rem;
                font-weight: 100;
                color: black;
            }
            .form-control{
                font-size: .9rem;

            }
        }
    
    }

}