<h6 class="d-flex justify-content-between title">
    Ajouter une formation
    <button (click)="onAddEducation()">
      <fa-icon [icon]="['fas', 'plus']" ></fa-icon>
    </button>
</h6>

<div class="elt-form d-flex " *ngIf="isEducationFormShowing" >
    <form #form="ngForm" class="col-6 mx-auto" (ngSubmit)="onSubmitEducation()" >
      <legend>{{ legend }}</legend>
      <div class="mb-3">
        <input type="text" 
              class="form-control" 
              id="education-training" 
              [(ngModel)]="newEducation.training"
              name="education-training"
              placeholder="Titre de la formation ou cursus">
      </div>
      <div class="mb-3">
        <input type="text" 
              class="form-control" 
              id="education-school" 
              [(ngModel)]="newEducation.school"
              name="educationEdit-school"
              placeholder="Ecole">
      </div>
      <div class="mb-3">
        <input type="text" 
              class="form-control" 
              id="education-degree" 
              [(ngModel)]="newEducation.degree"
              name="education-degree"
              placeholder="Diplôme, niveau d'études obtenu">
      </div>
      <div class="mb-3">
        <label for="education-startDate" class="form-label">Date de début</label>
        <input type="date" 
              class="form-control" 
              id="education-startDate" 
              [(ngModel)]="newEducation.startDate"
              name="education-startDate">
      </div>
      <div class="mb-3">
        <label for="education-endDate" class="form-label">Date de fin</label>
        <input type="date" 
              class="form-control" 
              id="education-endDate" 
              [(ngModel)]="newEducation.endDate"
              name="education-endDate">
      </div>
      <div class="mb-3">
        <label for="education-title" class="form-label">Description</label>
        <textarea class="form-control" 
                  id="education-description"
                  [(ngModel)]="newEducation.description"
                  name="education-description" 
                  rows="3">Description</textarea>
      </div>
      <!-- <div class="mb-3">
        <label for="skill-file" class="form-label">Chargez un fichier en rapport avec cette compétence (disabled)</label>
        <input class="form-control" type="file" id="skill-file" disabled>
      </div> -->
      <input class="btn btn-primary" type="submit" value="Valider">
    </form>
  </div>

  <div *ngFor="let education of educations; let iii = index">
    <div class="card">
      <div class="card-body">
          <p class="d-flex justify-content-between elt-title">
              {{education.training}}
              <button (click)="onDeleteEducation(education.id, iii)" class="elt-button" >
                  <fa-icon class="icon" [icon]="['fas', 'x']" ></fa-icon>
              </button>
          </p>
      </div>
    </div>
  </div> 