a.navbar-brand{
    width: 40px;
}

.user-initial{
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgba(255, 147, 114, 0.712));
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    font-size: .9rem;
    color: white;
    margin-right: .2rem;

}

