<h6 class="d-flex justify-content-between title">
  Ajouter une compétence
  <button (click)="onAddSkill()">
    <fa-icon [icon]="['fas', 'plus']" ></fa-icon>
  </button>
  <div class="gradient p-4" *ngIf="isSkillFormShowing" >
    <p class="text-end m-0">
      <button (click)="onCloseForm()"><fa-icon [icon]="['fas', 'window-close']" ></fa-icon></button>
    </p>
    <form #form="ngForm" class=" mx-auto form-item" (ngSubmit)="onSubmitSkill()" >
      <legend class="text-center form-legend mb-3">{{ legend }}</legend>
      <div class="mb-3">
        <label for="skill-title" class="form-label">Titre de la compétence</label>
        <input type="text" 
              class="form-control" 
              id="skill-title" 
              [(ngModel)]="newSkill.title"
              name="skill-title"
              placeholder="Titre">
      </div>
      <div class="mb-3">
        <label for="skill-description" class="form-label">Description</label>
        <textarea class="form-control" 
                  id="skill-description"
                  [(ngModel)]="newSkill.description"
                  name="skill-description" 
                  rows="3">Description</textarea>
      </div>
      <!-- <div class="mb-3">
        <label for="skill-file" class="form-label">Chargez un fichier en rapport avec cette compétence (disabled)</label>
        <input class="form-control" type="file" id="skill-file" disabled>
      </div> -->
      <input class="btn btn-primary d-block mx-auto" type="submit" value="Valider">
    </form>
  </div>  
</h6>
<!-- <div class="elt-form d-flex " *ngIf="isSkillFormShowing" >
  
</div> -->

<div    *ngFor="let skill of skills; let i = index">
    <div class="card">
        <div class="card-body"> 
            <div class="d-flex justify-content-between elt-title">
                {{skill.title}}
                <div>
                  <button (click)="onEditSkill(i)" class="elt-button" >
                    <fa-icon class="icon" [icon]="['fas', 'pen']" ></fa-icon>
                  </button> 
                  <button (click)="onDeleteSkill(skill.id, i)" class="elt-button-red" >
                     <fa-icon class="icon" [icon]="['fas', 'x']" ></fa-icon>
                 </button>  
                </div>
              </div>
        </div>
    </div>
</div> 
