.skill-title{
    padding: .4rem;
    button{
        border: none;
        padding: .2rem .3rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        .icon{
            font-size: .7rem;
            color: rgba(0, 0, 0, 0.322);
        }
    }
    button:hover{
        background-color: rgba(0, 255, 255, 0.137);
        .icon{
            color: black;
        }
    }
}
