.main{
    background-image: url("../../../../assets/resources/motif.png");
    background-size: cover;
}

.portfolio-list{
    min-height: 80vh;
}

.aside{
    min-height: 90vh;
    background-color: rgba(192, 184, 184, 0.575);

    
}

.display{
    background-color: rgba(218, 182, 135, 0.404);
}
.portfolio-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card{
        width: 25%;
        box-shadow: 11px 8px 14px 0px #00000041;

    }
  }
  

.title{
    position: relative;
    .gradient{  // *** test replacing forms ****
        position: absolute;
        right: -270px;
        top: -100px;
        background: rgba(217, 171, 224, 0.849);
        background: linear-gradient(225deg, rgba(217, 171, 224, 0.973) 0%, rgba(186, 134, 241, 0.842) 50%, rgba(166,112,251,1) 100%);
        width: 250px;
        border-radius: 5px;
        .form-item{
            .form-legend{
                font-size: 1.2rem;
                color: black;
            }
            .form-label{
                font-size: .9rem;
                font-weight: 100;
                color: black;
            }
            .form-control{
                font-size: .9rem;

            }
        }
    
    }

}

// from portfolio list item
.portfolio-list-item{
    min-height: 80vh;
}

.aside{
    min-height: 90vh;
    background-color: #080707a1;
    box-shadow: inset 11px 8px 14px 0px #00000075;
    .card{
        color: rgba(255, 255, 255, 0.89);
    }
    
}

.display{
    background-color: rgba(218, 182, 135, 0.404);
    box-shadow: inset 5px 4px 20px 3px rgba(0, 0, 0, 0.4392156863);
    .frame{  // live changes displaying
        border: rgb(89, 0, 255) 1px solid;
        height: 52vh ;
        margin: 5rem auto;
        width: 40vw;
        overflow-y: scroll;    
    }
}

.custom-accordion{
    box-sizing: border-box;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.329);
    border: none;
    h2{
        button{
            color: white;
            font-size: 1.1rem;
        }

    }
}

