.gradient{
    background: rgb(217,171,224);
    background: linear-gradient(225deg, rgba(217,171,224,1) 0%, rgba(185,134,241,1) 50%, rgba(166,112,251,1) 100%);
    width: 150px;
    height: 100px;

    border-radius: 10px;
    color: white

}
