section{
    min-height: 90vh;
    padding: 5rem 0;
}

.home{
    &-content{
        &-create,&-consult{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &-content-consult-div{
        width: 100%;
        img{
            width: 100%;
        }
    }
    a{
        display: block;
        width: 20rem;
    }
    p.create{
        font-size: 1.3rem;
    }
}

.try{
    background: #fe8e78;
    background: linear-gradient(180deg, #fe8e78 0%, #fe6c58 43%, #f91305 100%);
    h3{
        font-size: 1.8rem;
    }
    p{
        font-size: 1.2rem;
    }
    &-layout-picture-div{
        width: 100%;
        img{
            width: 100%;
        }
    }


}

.testimony{
    width: 90%;
    max-width: 900px;

    h3{ 
        font-size: 1.8rem;
        font-weight: 700;
    }
    .figure{
        width: 100%;
        img{
            width: 100%;
        }
    }
    
    &-div{
        background-color: rgba(32, 81, 214, 0.308);
        fa-icon{
            color: rgb(228, 176, 6);
        }
    }
}









// @media screen and (min-width: 110px) {
//     .try{
    //         .try-layout{
//            max-width: 900px; 
//         }
//     }

// }