
<div class="skills-div">
    <div class="skills-presentation">
        <h1>Hard &<br> Soft skills</h1>
        <div class="skills-text">
            <ckeditor [editor]="Editor1" [id]="'editor1'" 
                    [(ngModel)]="editorDataSkills" name="editorDataSkills"
                    [disabled]="true" [config]="{toolbar:[]}" >
            </ckeditor> 
        </div>
    </div>
    <div class="skills-box competences ">
        <div class="competences-perso mb-3">
            <h3>Compétences personnelles</h3>  
            <ul>
                <li *ngFor="let soft of softSkills">
                    <strong>{{ soft.title | titlecase }}</strong>
                </li>  
            </ul>
        </div>
            
        <div class="scrolling none">
            <div id="langages_pro" class="mb-4" >
                <h3>Langages informatiques :</h3>
                <span *ngFor="let item of programsLanguages">{{ item.title }} - </span>                   
            </div>
        </div>

        <div id="techno" class="mb-4">
            <h3>Technologies :</h3>
            <span *ngFor="let item of otherSkills">{{ item.title }} - </span>
        </div>

        <div class="competences-languages">
            <h3>Langues</h3>
            <ul>
                <li span *ngFor="let item of languages"><strong>{{ item.title }}</strong> : {{ item.description }}</li>       
            </ul>     
        </div>
    </div> 
</div>

