<div *ngIf="portfolio.categoryPortfolioId==null">
    <app-template-classic></app-template-classic>
</div>

<div *ngIf="portfolio.categoryPortfolioId==1">
    <app-template-classic 
        [portfolio]="portfolio"
        [socialGithub]="socialGithub"
        [socialLinkedin]="socialLinkedin"
        [socialInstagram]="socialInstagram"
        [socialX]="socialX"
        [socialFacebook]="socialFacebook"
        
    >
    </app-template-classic>
</div>

<div *ngIf="portfolio.categoryPortfolioId==2">
    <app-template-dev
        [portfolio]="portfolio"
        [socialGithub]="socialGithub"
        [socialLinkedin]="socialLinkedin"
        [socialInstagram]="socialInstagram"
        [socialX]="socialX"
        [socialFacebook]="socialFacebook"
    
    ></app-template-dev>
</div>

<div *ngIf="portfolio.categoryPortfolioId>2">
    Ce modèle est en construction !!
</div>


